* {
   background-color: #1F2937; 
}

header{
    
    color: white;
}

/* .head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
} */

.logo{
    font-size: 24px;
}

ul{
    list-style-type: none;
    /* display: flex; */
    gap: 32px;
}

/* main{
    display: flex;
    justify-content: space-between;
} */

.img p{
    height: 300px;
    width: 500px;
    color: grey;
    color: white;
    bor
}

